<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="MVVMLoginDb" connectionString="Server=.;Database=MVVMLoginDb;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- false = Production | true = Testing -->
		<add key="AllowLocalBiometricUpload" value="true"/>
		<!-- Enable / Disable Windows group creation -->
		<add key="WindowsSecurity.EnableGroupCreation" value="true"/>

		<!-- Enable / Disable Windows user creation -->
		<add key="WindowsSecurity.EnableUserCreation" value="true"/>

		<!-- Prefix for all Windows groups created by IrisAuth -->
		<add key="WindowsSecurity.GroupPrefix" value=""/>

		<!-- Prefix for all Windows users created by IrisAuth -->
		<add key="WindowsSecurity.UserPrefix" value=""/>

		<!-- Default description -->
		<add key="WindowsSecurity.GroupDescription" value="IrisAuth security group"/>
		<add key="WindowsSecurity.UserDescription" value="IrisAuth local user"/>

		<!-- Default user password policy -->
		<add key="WindowsSecurity.DefaultUserPassword" value="P@ssw0rd!123"/>

		<!-- Force password change on first login -->
		<add key="WindowsSecurity.ForcePasswordChange" value="true"/>

		<!-- Add users automatically to group -->
		<add key="WindowsSecurity.AutoAddUserToGroup" value="true"/>

		<!-- Logging -->
		<add key="WindowsSecurity.LogOperations" value="true"/>
		<add key="WindowsSecurity.Mode" value="Local"/>
		<!-- Local | Domain -->
		<add key="WindowsSecurity.DomainName" value="MYDOMAIN"/>
	</appSettings>
</configuration>
